/* tema claro/ escuro */
.trilho{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
    width: 70px;
    background-color: #CCCCCC;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    transition: .5s;
}
.icon{
    z-index: 0;
    color: var(--cor-princiapal);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.trilho> .container-button{
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
}
.trilho> .container-button> .indicador{
    background-color: #fff;
    width: 50%;
    height: 100%;
    transform: scale(.8);
    border-radius: 50px;
}

.trilho.dark {
    transition: .5s;
    .container-button{
        justify-content: flex-end;
    }
    .icon{
        color: black;
    }
    background-color: var(--cor-principal-dark);
    .indicador{
        background-color: black;
    }
}

body.dark{
    background-color: var(--cor-dark-mode);
    header{
        border-bottom: 2px solid var(--cor-principal-dark);
        box-shadow: none;
    }
    footer{
        border-top: 2px solid var(--cor-principal-dark);
        box-shadow: none;
    }
    footer> .footer-copyright-infor-link{
        border-top: 2px solid var(--cor-principal-dark);
        color: var(--cor-principal-dark);
    }
    h1, li>a, span{
        color: var(--cor-principal-dark);
    }
    li>a:hover{
        border-bottom: 2.5px solid var(--cor-principal-dark);
    }
    p{
        color: var(--cor-text);
    }
    #ul-links-mobile{
        background-color: var(--cor-dark-mode);
        border-bottom: 2px solid var(--cor-principal-dark);
    }
    #ul-links-mobile> li> a{
        color: var(--cor-principal-dark);
    }
    .wrapper{
        border: 2px solid var(--cor-principal-dark);
        box-shadow: none;
    }
    .imagem-content{
        border: 1px solid var(--cor-principal-dark);
    }
    .button-link-project{
        border: 2px solid var(--cor-principal-dark);
    }
    .button-link-project> a{
        color: white;
    }
    
    .button-link-project.privado{
        background-color: var(--cor-principal-dark);
        border: 4px solid var(--cor-principal-dark);
    }
    .button-link-project:hover{
        background-color:  var(--cor-principal-dark);
        a {
            color: white;
        }
    }
    .social-icons> a{
        color: var(--cor-principal-dark);
        border: 0.2rem solid var(--cor-principal-dark);
    }
    .social-icons> a:hover{
        background-color: var(--cor-principal-dark);
        color: white;
    }
}